extends ./index
block content
    div(class="row")
        div(class="col-10 col-offset-1")
            .blog_header= blog_title
            .blog_summary
                .blog_summary_col
                    i(class="fa fa-calendar") 
                    span(class="post_date")= blog_postdate
                .blog_summary_col
                    i(class="fa fa-tag") 
                    a(class="tag") Travel

            .blog_content By default, when the user installs software through the RPM Package Manager or through YUM, usually, the software’s configuration files included in the RPM do not replace the existing configuration files on the filesystem, but, if they differ from those that currently exist, they are saved with the rpmnew extension. In case the rpm is already installed and is the latest version, the quickest way to get the original configuration file back is to uninstall and install the package again. Today, while on CentOS 6.2, I needed to restore the original /etc/sysctl.conf file, which is part of the initscripts package. In this case, uninstalling initscripts was out of the question as it would also remove half of the installed packages due to dependencies. So, I grabbed the chance to figure out and document what would be the quickest and easiest way to restore /etc/sysctl.conf, excluding downloading the package itself and extract the RPM contents. Fortunately, as soon as I opened yum’s man page and having spotted the new reinstall command, the solution was quite obvious.2015年5月5日，习近平在中央全面深化改革领导小组第十二次会议上指出“只要对全局改革有利、对党和国家事业发展有利、对本系统本领域形成完善的体制机制有利，都要自觉服从改革大局、服务改革大局，勇于自我革命，敢于直面问题，共同把全面深化改革这篇大文章做好。要引导大家争当改革促进派，着力强化敢于担当、攻坚克难的用人导向，把那些 想改革、谋改革、善改革的干部用起来，激励干部勇挑重担”。
