extends ./index
block content
    div(class="row")
        div(class="col-10 col-offset-1")
            div(class="col-2")
                div(class="stock_header") 中国石油(601857)
                div(class="stock_content") INFORMATION
            div(class="col-2")
                div(class="stock_header") 中国石油(601857)
                div(class="stock_content") INFORMATION
            div(class="col-2")
                div(class="stock_header") 中国石油(601857)
                div(class="stock_content") INFORMATION
            div(class="col-2")
                div(class="stock_header") 中国石油(601857)
                div(class="stock_content") INFORMATION
            div(class="col-2")
                div(class="stock_header") 中国石油(601857)
                div(class="stock_content") INFORMATION
            div(class="col-2")
                div(class="stock_header") 中国石油(601857)
                div(class="stock_content") INFORMATION
            div(class="col-2")
                div(class="stock_header") 中国石油(601857)
                div(class="stock_content") INFORMATION
            div(class="col-2")
                div(class="stock_header") 中国石油(601857)
                div(class="stock_content") INFORMATION
