extends ./index
block content
    div(class="row")
        div(class="col-10 col-offset-1")
            div(id="toolbar")
                a(href="/editor/save")
                    i(class="fa fa-save")
            div(id="editor") #Example

block pagejs
    script(src="/static/ace/ace.js" type="text/javascript" charset="utf-8")
    script.
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/twilight");
        editor.getSession().setMode("ace/mode/markdown");