

body {
	margin: 0;
    padding: 0;
	font-family: 'roboto', Arial;
    /*
    background-image: url(/static/img/background.png);
    background-repeat: repeat;
    */
}

nav {
    display: block;
}

header {
    height: 60px;
    z-index: 1;
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
}

nav {
    height: 30px;
    margin: 15px 0;
}

/* max column is 12 */
.row {
    box-sizing: border-box;
}

.col-10 {
    width: 83.3333333333%;
    float: left;
    padding: 0 10px;
    -webkit-box-sizing: border-box; // for ios-safari, android
    -moz-box-sizing: border-box; //for ff
    box-sizing: border-box;
}

.col-offset-1 {
    margin-left: 8.3333333333%
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav span {
    padding: 0 15px;
    opacity: 0.68;
    color: #ddd;
}

.nav-item {
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.nav-item > a {
    text-decoration: none;
    cursor: pointer;
}

.nav-item > a:hover{
    text-decoration: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.login-box {
    height: 30px;
    line-height: 30px;
    margin: 15px 0;
}

.login-btn {
    width: 80px;
    display: inline-block;
    background-color: #333;
}

.dropdown {
    position: relative;
}

.dropdown-sheet {
    position: absolute;
    z-index: 100;
    border: 1px solid #333;
    text-align: center;
    background-color: #fff;
    width: 120px;
}

.dropdown-sheet li {
    font-size: 12px;
}

.logo {
    margin: 3px;
}

article {
    margin: 0px;
    padding: 15px 10px;
    box-sizing: border-box;
}

.article_logo {
    width: 32px;
    height: 32px;
    border-radius: 25px;
    display: inline-block;
}

.article_header {
    display: inline-block;
    margin-top: 9px;
    padding-left: 10px;
    line-height: 14px;
}

footer {
    margin: 25px;
    font-size: 12px;
    text-align: center;
}